BurakWcfService/Service References/AtlasjetServiceReference/Atlasjet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webSrv.atlasjetWS" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://data.atlasjetWS" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webSrv.atlasjetWS" targetNamespace="http://webSrv.atlasjetWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webSrv.atlasjetWS">
      <xsd:import namespace="http://data.atlasjetWS" />
      <xsd:element name="availabilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="availabilityReturn" nillable="true" type="tns2:AvailabilityData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="availabilityV3">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="origin" nillable="true" type="xsd:string" />
            <xsd:element name="destination" nillable="true" type="xsd:string" />
            <xsd:element name="date" nillable="true" type="xsd:string" />
            <xsd:element name="adult" type="xsd:int" />
            <xsd:element name="child" type="xsd:int" />
            <xsd:element name="inf" type="xsd:int" />
            <xsd:element name="ogr" type="xsd:int" />
            <xsd:element name="tsk" type="xsd:int" />
            <xsd:element name="yp" type="xsd:int" />
            <xsd:element name="sc" type="xsd:int" />
            <xsd:element name="triptype" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="availabilityV3Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="availabilityV3Return" nillable="true" type="tns2:AvailabilityData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="availabilityV4">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="origin" nillable="true" type="xsd:string" />
            <xsd:element name="destination" nillable="true" type="xsd:string" />
            <xsd:element name="depdate" nillable="true" type="xsd:string" />
            <xsd:element name="retdate" nillable="true" type="xsd:string" />
            <xsd:element name="adult" type="xsd:int" />
            <xsd:element name="child" type="xsd:int" />
            <xsd:element name="inf" type="xsd:int" />
            <xsd:element name="ogr" type="xsd:int" />
            <xsd:element name="tsk" type="xsd:int" />
            <xsd:element name="yp" type="xsd:int" />
            <xsd:element name="sc" type="xsd:int" />
            <xsd:element name="triptype" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="availabilityV4Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="availabilityV4Return" nillable="true" type="tns2:AvailabilityData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="timetable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="origin" nillable="true" type="xsd:string" />
            <xsd:element name="destination" nillable="true" type="xsd:string" />
            <xsd:element name="flightdate" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="timetableResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timetableReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_TimeTableData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fares">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="depvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="depclass" nillable="true" type="xsd:string" />
            <xsd:element name="retvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="retclass" nillable="true" type="xsd:string" />
            <xsd:element name="adult" type="xsd:int" />
            <xsd:element name="child" type="xsd:int" />
            <xsd:element name="inf" type="xsd:int" />
            <xsd:element name="ogr" type="xsd:int" />
            <xsd:element name="tsk" type="xsd:int" />
            <xsd:element name="yp" type="xsd:int" />
            <xsd:element name="sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faresResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faresReturn" nillable="true" type="tns2:FareQuoteData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelPnrPrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="pnrno" nillable="true" type="xsd:string" />
            <xsd:element name="lastname" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelPnrPriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelPnrPriceReturn" nillable="true" type="tns2:CancelPnrPriceData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="psgrForTicketNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="locator" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="psgrForTicketNumberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="psgrForTicketNumberReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_PsgrForTicketnumberData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addPassenger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="depvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="depclass" nillable="true" type="xsd:string" />
            <xsd:element name="retvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="retclass" nillable="true" type="xsd:string" />
            <xsd:element name="passengers" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_PassengersData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addPassengerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addPassengerReturn" nillable="true" type="tns2:ReferenceData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelPnr">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="pnrno" nillable="true" type="xsd:string" />
            <xsd:element name="lastname" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelPnrResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelPnrReturn" nillable="true" type="tns2:CancelPnrData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="openJawAirportsList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="originCode" nillable="true" type="xsd:string" />
            <xsd:element name="destinationCode" nillable="true" type="xsd:string" />
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="openJawAirportsListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="openJawAirportsListReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_OpenJawAirportsData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="jetmilInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="jetmilnumber" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="jetmilInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jetmilInfoReturn" nillable="true" type="tns2:JetmilInfoData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="airportsList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="airportsListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="airportsListReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_AirportsData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="toAirportsList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="originCode" nillable="true" type="xsd:string" />
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="toAirportsListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="toAirportsListReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_ToAirportsData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="limitInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="limitInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="limitInfoReturn" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_LimitInfoData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addPassengerV2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="depvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="depclass" nillable="true" type="xsd:string" />
            <xsd:element name="retvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="retclass" nillable="true" type="xsd:string" />
            <xsd:element name="passengers" nillable="true" type="impl:ArrayOf_747913597_496923140_nillable_PassengersData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addPassengerV2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addPassengerV2Return" nillable="true" type="tns2:ReferenceData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="booking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="referencenumber" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bookingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingReturn" nillable="true" type="tns2:BookingData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="preBooking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="referencenumber" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="preBookingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preBookingReturn" nillable="true" type="tns2:PreBookingData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="maxServiceFee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="depvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="depclass" nillable="true" type="xsd:string" />
            <xsd:element name="retvoyagecode" nillable="true" type="xsd:string" />
            <xsd:element name="retclass" nillable="true" type="xsd:string" />
            <xsd:element name="adult" type="xsd:int" />
            <xsd:element name="child" type="xsd:int" />
            <xsd:element name="inf" type="xsd:int" />
            <xsd:element name="ogr" type="xsd:int" />
            <xsd:element name="tsk" type="xsd:int" />
            <xsd:element name="yp" type="xsd:int" />
            <xsd:element name="sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="maxServiceFeeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="maxServiceFeeReturn" nillable="true" type="tns2:MaxServiceFeeData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="availability">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" nillable="true" type="xsd:string" />
            <xsd:element name="password" nillable="true" type="xsd:string" />
            <xsd:element name="lang" nillable="true" type="xsd:string" />
            <xsd:element name="direction" nillable="true" type="xsd:string" />
            <xsd:element name="origin" nillable="true" type="xsd:string" />
            <xsd:element name="destination" nillable="true" type="xsd:string" />
            <xsd:element name="date" nillable="true" type="xsd:string" />
            <xsd:element name="adult" type="xsd:int" />
            <xsd:element name="child" type="xsd:int" />
            <xsd:element name="inf" type="xsd:int" />
            <xsd:element name="ogr" type="xsd:int" />
            <xsd:element name="tsk" type="xsd:int" />
            <xsd:element name="yp" type="xsd:int" />
            <xsd:element name="sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_TimeTableData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TimeTableData" nillable="true" type="tns2:TimeTableData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_PsgrForTicketnumberData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PsgrForTicketnumberData" nillable="true" type="tns2:PsgrForTicketnumberData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_PassengersData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PassengersData" nillable="true" type="tns2:PassengersData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_OpenJawAirportsData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpenJawAirportsData" nillable="true" type="tns2:OpenJawAirportsData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_AirportsData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AirportsData" nillable="true" type="tns2:AirportsData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_ToAirportsData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ToAirportsData" nillable="true" type="tns2:ToAirportsData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_747913597_496923140_nillable_LimitInfoData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LimitInfoData" nillable="true" type="tns2:LimitInfoData" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://data.atlasjetWS">
      <xsd:complexType name="AvailabilityData">
        <xsd:sequence>
          <xsd:element name="flightData" nillable="true" type="tns2:ArrayOfAvailabilityFlightData" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AvailabilityFlightData">
        <xsd:sequence>
          <xsd:element name="classData" nillable="true" type="tns2:ArrayOfAvailabilityClassData" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
          <xsd:element name="segmentData" nillable="true" type="tns2:ArrayOfAvailabilitySegmentData" />
          <xsd:element name="voyagecode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AvailabilityClassData">
        <xsd:sequence>
          <xsd:element name="adultprice" type="xsd:double" />
          <xsd:element name="cabinclass" nillable="true" type="xsd:string" />
          <xsd:element name="childprice" type="xsd:double" />
          <xsd:element name="classdesc" nillable="true" type="xsd:string" />
          <xsd:element name="completeclass" nillable="true" type="xsd:string" />
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="infprice" type="xsd:double" />
          <xsd:element name="ogrprice" type="xsd:double" />
          <xsd:element name="scprice" type="xsd:double" />
          <xsd:element name="seat" type="xsd:int" />
          <xsd:element name="tskprice" type="xsd:double" />
          <xsd:element name="viewprice" type="xsd:double" />
          <xsd:element name="ypprice" type="xsd:double" />
          <xsd:element name="rulelink" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAvailabilityClassData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityClassData" nillable="true" type="tns2:AvailabilityClassData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AvailabilitySegmentData">
        <xsd:sequence>
          <xsd:element name="depdate" nillable="true" type="xsd:string" />
          <xsd:element name="arrcode" nillable="true" type="xsd:string" />
          <xsd:element name="arrdesc" nillable="true" type="xsd:string" />
          <xsd:element name="arrtime" nillable="true" type="xsd:string" />
          <xsd:element name="depcode" nillable="true" type="xsd:string" />
          <xsd:element name="depdesc" nillable="true" type="xsd:string" />
          <xsd:element name="deptime" nillable="true" type="xsd:string" />
          <xsd:element name="flightno" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAvailabilitySegmentData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AvailabilitySegmentData" nillable="true" type="tns2:AvailabilitySegmentData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAvailabilityFlightData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityFlightData" nillable="true" type="tns2:AvailabilityFlightData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SystemMessageData">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TimeTableData">
        <xsd:sequence>
          <xsd:element name="arriveTime" nillable="true" type="xsd:string" />
          <xsd:element name="departureTime" nillable="true" type="xsd:string" />
          <xsd:element name="flightNo" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteData">
        <xsd:sequence>
          <xsd:element name="faresData" nillable="true" type="tns2:FareQuoteFaresData" />
          <xsd:element name="flightData" nillable="true" type="tns2:FareQuoteFlightData" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteFaresData">
        <xsd:sequence>
          <xsd:element name="fareData" nillable="true" type="tns2:ArrayOfFareQuoteFareData" />
          <xsd:element name="grandTotalData" nillable="true" type="tns2:FareQuoteGrandTotalData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteFareData">
        <xsd:sequence>
          <xsd:element name="baseprice" type="xsd:double" />
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="passcount" type="xsd:int" />
          <xsd:element name="servicefee" type="xsd:double" />
          <xsd:element name="tax" type="xsd:double" />
          <xsd:element name="totalprice" type="xsd:double" />
          <xsd:element name="type" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFareQuoteFareData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FareQuoteFareData" nillable="true" type="tns2:FareQuoteFareData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteGrandTotalData">
        <xsd:sequence>
          <xsd:element name="baseprice" type="xsd:double" />
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="servicefee" type="xsd:double" />
          <xsd:element name="tax" type="xsd:double" />
          <xsd:element name="totalprice" type="xsd:double" />
          <xsd:element name="totalpriceTL" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteFlightData">
        <xsd:sequence>
          <xsd:element name="depData" nillable="true" type="tns2:FareQuoteDepartureData" />
          <xsd:element name="retData" nillable="true" type="tns2:FareQuoteReturnData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteDepartureData">
        <xsd:sequence>
          <xsd:element name="segmentData" nillable="true" type="tns2:ArrayOfFareQuoteSegmentData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteSegmentData">
        <xsd:sequence>
          <xsd:element name="arrcode" nillable="true" type="xsd:string" />
          <xsd:element name="arrdesc" nillable="true" type="xsd:string" />
          <xsd:element name="arrtime" nillable="true" type="xsd:string" />
          <xsd:element name="depcode" nillable="true" type="xsd:string" />
          <xsd:element name="depdesc" nillable="true" type="xsd:string" />
          <xsd:element name="deptime" nillable="true" type="xsd:string" />
          <xsd:element name="flightno" nillable="true" type="xsd:string" />
          <xsd:element name="arrdate" nillable="true" type="xsd:string" />
          <xsd:element name="depdate" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFareQuoteSegmentData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FareQuoteSegmentData" nillable="true" type="tns2:FareQuoteSegmentData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FareQuoteReturnData">
        <xsd:sequence>
          <xsd:element name="segmentData" nillable="true" type="tns2:ArrayOfFareQuoteSegmentData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CancelPnrPriceData">
        <xsd:sequence>
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
          <xsd:element name="totalBackPrice" type="xsd:double" />
          <xsd:element name="totalFlightPrice" type="xsd:double" />
          <xsd:element name="totalPenaltyPrice" type="xsd:double" />
          <xsd:element name="totalServiceFee" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PsgrForTicketnumberData">
        <xsd:sequence>
          <xsd:element name="psgrid" type="xsd:int" />
          <xsd:element name="ticketnumber" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PassengersData">
        <xsd:sequence>
          <xsd:element name="birthDate" nillable="true" type="xsd:string" />
          <xsd:element name="countryCode" nillable="true" type="xsd:string" />
          <xsd:element name="email" nillable="true" type="xsd:string" />
          <xsd:element name="firstName" nillable="true" type="xsd:string" />
          <xsd:element name="gender" nillable="true" type="xsd:string" />
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="jetmilCardNo" nillable="true" type="xsd:string" />
          <xsd:element name="lastName" nillable="true" type="xsd:string" />
          <xsd:element name="order" nillable="true" type="xsd:string" />
          <xsd:element name="passaportNo" nillable="true" type="xsd:string" />
          <xsd:element name="passengerType" nillable="true" type="xsd:string" />
          <xsd:element name="phoneArea" nillable="true" type="xsd:string" />
          <xsd:element name="phoneNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReferenceData">
        <xsd:sequence>
          <xsd:element name="refnumber" type="xsd:long" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
          <xsd:element name="faresData" nillable="true" type="tns2:FareQuoteFaresData" />
          <xsd:element name="flightData" nillable="true" type="tns2:FareQuoteFlightData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CancelPnrData">
        <xsd:sequence>
          <xsd:element name="status" type="xsd:boolean" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OpenJawAirportsData">
        <xsd:sequence>
          <xsd:element name="destinationCode" nillable="true" type="xsd:string" />
          <xsd:element name="destinationName" nillable="true" type="xsd:string" />
          <xsd:element name="originCode" nillable="true" type="xsd:string" />
          <xsd:element name="originName" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JetmilInfoData">
        <xsd:sequence>
          <xsd:element name="birthdate" nillable="true" type="xsd:string" />
          <xsd:element name="firstName" nillable="true" type="xsd:string" />
          <xsd:element name="gender" nillable="true" type="xsd:string" />
          <xsd:element name="lastName" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AirportsData">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ToAirportsData">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LimitInfoData">
        <xsd:sequence>
          <xsd:element name="balance" type="xsd:double" />
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
          <xsd:element name="totallimit" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BookingData">
        <xsd:sequence>
          <xsd:element name="bookingTicketData" nillable="true" type="tns2:ArrayOfBookingTicketData" />
          <xsd:element name="note" nillable="true" type="xsd:string" />
          <xsd:element name="pnrnumber" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BookingTicketData">
        <xsd:sequence>
          <xsd:element name="id" nillable="true" type="xsd:string" />
          <xsd:element name="lang" nillable="true" type="xsd:string" />
          <xsd:element name="link" nillable="true" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="ticketNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBookingTicketData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BookingTicketData" nillable="true" type="tns2:BookingTicketData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreBookingData">
        <xsd:sequence>
          <xsd:element name="pnrnumber" nillable="true" type="xsd:string" />
          <xsd:element name="note" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
          <xsd:element name="expiredate" nillable="true" type="xsd:string" />
          <xsd:element name="refnumber" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MaxServiceFeeData">
        <xsd:sequence>
          <xsd:element name="flightData" nillable="true" type="tns2:FareQuoteFlightData" />
          <xsd:element name="servicefee" type="xsd:double" />
          <xsd:element name="currency" nillable="true" type="xsd:string" />
          <xsd:element name="systemMessageData" nillable="true" type="tns2:SystemMessageData" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="psgrForTicketNumberRequest">
    <wsdl:part name="parameters" element="impl:psgrForTicketNumber" />
  </wsdl:message>
  <wsdl:message name="addPassengerRequest">
    <wsdl:part name="parameters" element="impl:addPassenger" />
  </wsdl:message>
  <wsdl:message name="availabilityV3Response">
    <wsdl:part name="parameters" element="impl:availabilityV3Response" />
  </wsdl:message>
  <wsdl:message name="availabilityV4Response">
    <wsdl:part name="parameters" element="impl:availabilityV4Response" />
  </wsdl:message>
  <wsdl:message name="jetmilInfoRequest">
    <wsdl:part name="parameters" element="impl:jetmilInfo" />
  </wsdl:message>
  <wsdl:message name="bookingResponse">
    <wsdl:part name="parameters" element="impl:bookingResponse" />
  </wsdl:message>
  <wsdl:message name="maxServiceFeeRequest">
    <wsdl:part name="parameters" element="impl:maxServiceFee" />
  </wsdl:message>
  <wsdl:message name="availabilityResponse">
    <wsdl:part name="parameters" element="impl:availabilityResponse" />
  </wsdl:message>
  <wsdl:message name="faresResponse">
    <wsdl:part name="parameters" element="impl:faresResponse" />
  </wsdl:message>
  <wsdl:message name="toAirportsListRequest">
    <wsdl:part name="parameters" element="impl:toAirportsList" />
  </wsdl:message>
  <wsdl:message name="preBookingRequest">
    <wsdl:part name="parameters" element="impl:preBooking" />
  </wsdl:message>
  <wsdl:message name="cancelPnrPriceRequest">
    <wsdl:part name="parameters" element="impl:cancelPnrPrice" />
  </wsdl:message>
  <wsdl:message name="cancelPnrPriceResponse">
    <wsdl:part name="parameters" element="impl:cancelPnrPriceResponse" />
  </wsdl:message>
  <wsdl:message name="timetableResponse">
    <wsdl:part name="parameters" element="impl:timetableResponse" />
  </wsdl:message>
  <wsdl:message name="toAirportsListResponse">
    <wsdl:part name="parameters" element="impl:toAirportsListResponse" />
  </wsdl:message>
  <wsdl:message name="limitInfoResponse">
    <wsdl:part name="parameters" element="impl:limitInfoResponse" />
  </wsdl:message>
  <wsdl:message name="addPassengerResponse">
    <wsdl:part name="parameters" element="impl:addPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="airportsListResponse">
    <wsdl:part name="parameters" element="impl:airportsListResponse" />
  </wsdl:message>
  <wsdl:message name="bookingRequest">
    <wsdl:part name="parameters" element="impl:booking" />
  </wsdl:message>
  <wsdl:message name="jetmilInfoResponse">
    <wsdl:part name="parameters" element="impl:jetmilInfoResponse" />
  </wsdl:message>
  <wsdl:message name="psgrForTicketNumberResponse">
    <wsdl:part name="parameters" element="impl:psgrForTicketNumberResponse" />
  </wsdl:message>
  <wsdl:message name="airportsListRequest">
    <wsdl:part name="parameters" element="impl:airportsList" />
  </wsdl:message>
  <wsdl:message name="maxServiceFeeResponse">
    <wsdl:part name="parameters" element="impl:maxServiceFeeResponse" />
  </wsdl:message>
  <wsdl:message name="availabilityV3Request">
    <wsdl:part name="parameters" element="impl:availabilityV3" />
  </wsdl:message>
  <wsdl:message name="availabilityV4Request">
    <wsdl:part name="parameters" element="impl:availabilityV4" />
  </wsdl:message>
  <wsdl:message name="cancelPnrResponse">
    <wsdl:part name="parameters" element="impl:cancelPnrResponse" />
  </wsdl:message>
  <wsdl:message name="limitInfoRequest">
    <wsdl:part name="parameters" element="impl:limitInfo" />
  </wsdl:message>
  <wsdl:message name="openJawAirportsListResponse">
    <wsdl:part name="parameters" element="impl:openJawAirportsListResponse" />
  </wsdl:message>
  <wsdl:message name="addPassengerV2Request">
    <wsdl:part name="parameters" element="impl:addPassengerV2" />
  </wsdl:message>
  <wsdl:message name="timetableRequest">
    <wsdl:part name="parameters" element="impl:timetable" />
  </wsdl:message>
  <wsdl:message name="availabilityRequest">
    <wsdl:part name="parameters" element="impl:availability" />
  </wsdl:message>
  <wsdl:message name="preBookingResponse">
    <wsdl:part name="parameters" element="impl:preBookingResponse" />
  </wsdl:message>
  <wsdl:message name="openJawAirportsListRequest">
    <wsdl:part name="parameters" element="impl:openJawAirportsList" />
  </wsdl:message>
  <wsdl:message name="faresRequest">
    <wsdl:part name="parameters" element="impl:fares" />
  </wsdl:message>
  <wsdl:message name="addPassengerV2Response">
    <wsdl:part name="parameters" element="impl:addPassengerV2Response" />
  </wsdl:message>
  <wsdl:message name="cancelPnrRequest">
    <wsdl:part name="parameters" element="impl:cancelPnr" />
  </wsdl:message>
  <wsdl:portType name="Atlasjet">
    <wsdl:operation name="availability">
      <wsdl:input name="availabilityRequest" message="impl:availabilityRequest" />
      <wsdl:output name="availabilityResponse" message="impl:availabilityResponse" />
    </wsdl:operation>
    <wsdl:operation name="availabilityV3">
      <wsdl:input name="availabilityV3Request" message="impl:availabilityV3Request" />
      <wsdl:output name="availabilityV3Response" message="impl:availabilityV3Response" />
    </wsdl:operation>
    <wsdl:operation name="availabilityV4">
      <wsdl:input name="availabilityV4Request" message="impl:availabilityV4Request" />
      <wsdl:output name="availabilityV4Response" message="impl:availabilityV4Response" />
    </wsdl:operation>
    <wsdl:operation name="timetable">
      <wsdl:input name="timetableRequest" message="impl:timetableRequest" />
      <wsdl:output name="timetableResponse" message="impl:timetableResponse" />
    </wsdl:operation>
    <wsdl:operation name="fares">
      <wsdl:input name="faresRequest" message="impl:faresRequest" />
      <wsdl:output name="faresResponse" message="impl:faresResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelPnrPrice">
      <wsdl:input name="cancelPnrPriceRequest" message="impl:cancelPnrPriceRequest" />
      <wsdl:output name="cancelPnrPriceResponse" message="impl:cancelPnrPriceResponse" />
    </wsdl:operation>
    <wsdl:operation name="psgrForTicketNumber">
      <wsdl:input name="psgrForTicketNumberRequest" message="impl:psgrForTicketNumberRequest" />
      <wsdl:output name="psgrForTicketNumberResponse" message="impl:psgrForTicketNumberResponse" />
    </wsdl:operation>
    <wsdl:operation name="addPassenger">
      <wsdl:input name="addPassengerRequest" message="impl:addPassengerRequest" />
      <wsdl:output name="addPassengerResponse" message="impl:addPassengerResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelPnr">
      <wsdl:input name="cancelPnrRequest" message="impl:cancelPnrRequest" />
      <wsdl:output name="cancelPnrResponse" message="impl:cancelPnrResponse" />
    </wsdl:operation>
    <wsdl:operation name="openJawAirportsList">
      <wsdl:input name="openJawAirportsListRequest" message="impl:openJawAirportsListRequest" />
      <wsdl:output name="openJawAirportsListResponse" message="impl:openJawAirportsListResponse" />
    </wsdl:operation>
    <wsdl:operation name="jetmilInfo">
      <wsdl:input name="jetmilInfoRequest" message="impl:jetmilInfoRequest" />
      <wsdl:output name="jetmilInfoResponse" message="impl:jetmilInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="airportsList">
      <wsdl:input name="airportsListRequest" message="impl:airportsListRequest" />
      <wsdl:output name="airportsListResponse" message="impl:airportsListResponse" />
    </wsdl:operation>
    <wsdl:operation name="toAirportsList">
      <wsdl:input name="toAirportsListRequest" message="impl:toAirportsListRequest" />
      <wsdl:output name="toAirportsListResponse" message="impl:toAirportsListResponse" />
    </wsdl:operation>
    <wsdl:operation name="limitInfo">
      <wsdl:input name="limitInfoRequest" message="impl:limitInfoRequest" />
      <wsdl:output name="limitInfoResponse" message="impl:limitInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="addPassengerV2">
      <wsdl:input name="addPassengerV2Request" message="impl:addPassengerV2Request" />
      <wsdl:output name="addPassengerV2Response" message="impl:addPassengerV2Response" />
    </wsdl:operation>
    <wsdl:operation name="booking">
      <wsdl:input name="bookingRequest" message="impl:bookingRequest" />
      <wsdl:output name="bookingResponse" message="impl:bookingResponse" />
    </wsdl:operation>
    <wsdl:operation name="preBooking">
      <wsdl:input name="preBookingRequest" message="impl:preBookingRequest" />
      <wsdl:output name="preBookingResponse" message="impl:preBookingResponse" />
    </wsdl:operation>
    <wsdl:operation name="maxServiceFee">
      <wsdl:input name="maxServiceFeeRequest" message="impl:maxServiceFeeRequest" />
      <wsdl:output name="maxServiceFeeResponse" message="impl:maxServiceFeeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AtlasjetSoapBinding" type="impl:Atlasjet">
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false" />
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="availability">
      <wsdlsoap:operation soapAction="availability" />
      <wsdl:input name="availabilityRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="availabilityResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="availabilityV3">
      <wsdlsoap:operation soapAction="availabilityV3" />
      <wsdl:input name="availabilityV3Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="availabilityV3Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="availabilityV4">
      <wsdlsoap:operation soapAction="availabilityV4" />
      <wsdl:input name="availabilityV4Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="availabilityV4Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timetable">
      <wsdlsoap:operation soapAction="timetable" />
      <wsdl:input name="timetableRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="timetableResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fares">
      <wsdlsoap:operation soapAction="fares" />
      <wsdl:input name="faresRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="faresResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelPnrPrice">
      <wsdlsoap:operation soapAction="cancelPnrPrice" />
      <wsdl:input name="cancelPnrPriceRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelPnrPriceResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="psgrForTicketNumber">
      <wsdlsoap:operation soapAction="psgrForTicketNumber" />
      <wsdl:input name="psgrForTicketNumberRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="psgrForTicketNumberResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPassenger">
      <wsdlsoap:operation soapAction="addPassenger" />
      <wsdl:input name="addPassengerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addPassengerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelPnr">
      <wsdlsoap:operation soapAction="cancelPnr" />
      <wsdl:input name="cancelPnrRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelPnrResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openJawAirportsList">
      <wsdlsoap:operation soapAction="openJawAirportsList" />
      <wsdl:input name="openJawAirportsListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="openJawAirportsListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jetmilInfo">
      <wsdlsoap:operation soapAction="jetmilInfo" />
      <wsdl:input name="jetmilInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="jetmilInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airportsList">
      <wsdlsoap:operation soapAction="airportsList" />
      <wsdl:input name="airportsListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airportsListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toAirportsList">
      <wsdlsoap:operation soapAction="toAirportsList" />
      <wsdl:input name="toAirportsListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="toAirportsListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="limitInfo">
      <wsdlsoap:operation soapAction="limitInfo" />
      <wsdl:input name="limitInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="limitInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPassengerV2">
      <wsdlsoap:operation soapAction="addPassengerV2" />
      <wsdl:input name="addPassengerV2Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addPassengerV2Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booking">
      <wsdlsoap:operation soapAction="booking" />
      <wsdl:input name="bookingRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="bookingResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preBooking">
      <wsdlsoap:operation soapAction="preBooking" />
      <wsdl:input name="preBookingRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="preBookingResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maxServiceFee">
      <wsdlsoap:operation soapAction="maxServiceFee" />
      <wsdl:input name="maxServiceFeeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="maxServiceFeeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AtlasjetService">
    <wsdl:port name="Atlasjet" binding="impl:AtlasjetSoapBinding">
      <wsdlsoap:address location="http://91.230.73.120/ADSAGENCYWS/services/Atlasjet" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>